# Database SQLite Assignment

## Question 1: Create a databse of students named Students

In [6]:
import sqlite3
try:
    con=sqlite3.connect('Rhia.db')
    cur=con.cursor()
    query='create table Data(Name varchar(10),Marks int(4))'
    cur.execute(query)
    print("Succesfully created the table.")
    con.commit()
except:
    if con:
        con.rollback()
        print("Rolled Back")
finally:
    if con:
        cur.close()
        con.close()
        print("Closed Cursor and Disconnected.")

Rolled Back
Closed Cursor and Disconnected.

## Question 2: Take students name and marks(between 0-100) as input from user 10 times using loops

## Question 3: Add these values in two columns named "Name" and "Marks" with the appropriate data type

In [4]:
import sqlite3
i=0
try:
    con=sqlite3.connect('Rhia.db')
    cursor=con.cursor()

    
    q1="insert into Data(Name, Marks) values(?,?)"
    
    while(i<10):
        
        n=input("Enter the name: ")
        m=int(input("Enter the marks: "))

        while m>100 or m<0:
            print('Marks did not lie in the given range of (0,100).')
            m=int(input("Enter the marks again: "))
                
        record=[(n,m)]
        cursor.executemany(q1,record)
        con.commit()
    
        i=i+1
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)    
    
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Cursor Closed and Disconnected.')

Enter the name: jjj
Enter the marks: 22
Enter the name: ggg
Enter the marks: 55
Enter the name: ddd
Enter the marks: 56
Enter the name: fff
Enter the marks: 87
Enter the name: hgf
Enter the marks: 987
Marks did not lie in the given range of (0,100).
Enter the marks again: -1
Marks did not lie in the given range of (0,100).
Enter the marks again: 76
Enter the name: jhgfs
Enter the marks: 98
Enter the name: jhgh
Enter the marks: 56
Enter the name: bnv
Enter the marks: 34
Enter the name: kjh
Enter the marks: 67
Enter the name: kjjh
Enter the marks: 56
Cursor Closed and Disconnected.

## Question 4: Print the names of all the students who scored more than 80 marks

In [5]:
import sqlite3

try:
    con = sqlite3.connect('Rhia.db')
    cursor = con.cursor()
    query = 'select * from Data where Marks>80'
    cursor.execute(query)
    data=cursor.fetchall()
    
    for row in data:
        print('Name: {}'.format(row[0]))
        
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
        

finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('Cursor closed and Disconnected.')

Name: fff
Name: jhgfs
Cursor closed and Disconnected.